.greeting-card {
  background-color: #f8f9fa;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  border-radius: 0.5rem;
}

.greeting-title {
  font-size: 1.25rem;
  color: rgb(47, 0, 255);
  margin-bottom: 1rem;
}

.greeting-text {
  font-size: 1.25rem;
  color: rgb(39, 87, 4);
  margin-bottom: 1rem;
}
